body {
	background: black;
	color: white;

	font-family: Sans-Serif;
	font-size: 5vw;

	margin: 5%;
}

input {
	background: white;

	font-family: inherit;
	font-size: inherit;

	border-style: hidden;

	width: 5vw;
	height: 5vw;

	display: block;
}
