body {
  background: MidnightBlue;
  color: white;
  
  font-family: Sans-Serif;
  font-size: 5vw;
  
  margin: 5%;
}

input {
  background: white;
  color: MidnightBlue;
  
  font-family: inherit;
  font-size: inherit;
  
  display: block;
  border: 0;
}