body {
  background: black;
  color: white;
  
  font-family: Sans-Serif;
  font-size: 5vw;
}

input {
  background: white;
  
  border: 0;
  
  font-family: Sans-Serif;
<<<<<<< HEAD
  font-size: 24;
  
  display: block;
=======
  font-size: 5vw;
>>>>>>> 6ee8ff178cb07455d56f312f43036dbb7c6f7a52
}